block head
.app--tweet
    form(action='/post', method='POST')
      .circle--fluid
        .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
          .app--avatar(style=`background-image: url(${userPhoto})`)
            img(src=`${userPhoto}`)
          textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?", name='tweet')
          strong#tweet-char.app--tweet--char 142
        .circle--fluid--cell.align-bottom
          button.button-primary(type='submit') Tweet
block main